@font-face {
  font-family: 'Protest Revolution';
  src: local('Protest Revolution'), url('../../../../public/fonts/ProtestRevolution-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik Maps';
  src: local('Rubik Maps'), url('../../../../public/fonts/RubikMaps-Regular.ttf') format('truetype');
}

.hero-second-h1{
  font-family: "Rubik Maps", system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(25, 25, 235);
  font-size: 43px;
}

@media screen and (max-width: 526px) {
  .hero-second-h1{
    font-size: 37px;
  }
}

@media screen and (max-width: 443px) {
  .hero-second-h1{
    font-size: 30px;
  }
}



@media screen and (max-width: 360px) {
  .hero-second-h1{
    font-size: 25px;
  }
}


.hero-title{
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}


.hero-container{
    background-image: url(../../../../public/assets/img/deicid3bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 570px;
background-position: center center;
display: flex;
align-items: center;
flex-direction: column;
}

.overlay{
    position: relative;
   display: flex;
   flex-direction: column;
    width: 380px;
    height: 280px;
    background-image: linear-gradient(rgba(230, 157, 20, 0.5), rgba(5, 5, 5, 0.774)); /* 0.5 define a opacidade (ajuste conforme necessário) */
    border-radius: 20px; /* Bordas arredondadas */
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 400px) {
  .overlay{
    width: 340px;
  }
}

@media screen and (max-width: 353px) {
  .overlay{
    width: 315px;
  }
}

.fsho_description{
    color: white;
    width: 300px;
    font-family: 'Pixelify Sans', sans-serif;
    }
    
    @keyframes zoom-in-out {
        0% {
          transform: scale(1); /* Sem ampliação */
        }
        50% {
          transform: scale(1.5); /* Ampliação */
        }
        100% {
          transform: scale(1); /* Sem ampliação */
        }
      }
      
      .animated-arrow {
        animation: zoom-in-out 2s infinite; /* 2 segundos para concluir a animação e definido para executar em loop */
      }